<style>
    .container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.c1, .c2 {
  width: 800px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1000px;
    column-gap: 20px;
}

.card-body {
    border-left: 1px solid #ccc;
    padding-left: 30px;
}

.food-image {
    width: 360px;
    height: 250px;
}

</style>
<div class="center" style="margin: 0 auto;">
    <h1 class="mb-3">フードの詳細</h1></br>
    <div class="container">
    <div class="c2 card p-3  card-row">
        <% if @food.image.attached? %>
        <%= image_tag @food.image, class:"m-3 food-image" %>
        <% end %>
          <div class="card-body">
            <h4 class="card-title"><%= @food.name %></h4>
            <p class="card-text">
              <strong>説明:</strong>
              <%= @food.description %>
            </p>
            <p class="card-text">
                <strong>値段:</strong>
                <%= @food.price %>
            </p>
            
            <%= link_to '編集', edit_restaurant_food_path(@restaurant, @food), class:"btn btn-warning btn-sm" %> |
            <%= link_to "消す", [@restaurant, @food], :method  => :delete, class:"btn btn-danger btn-sm" %> |
            <%= link_to '戻る', restaurant_path(@restaurant), class:"btn btn-secondary btn-sm" %>
        
      </div>
    </div>
    
</div>
</div>


