<%= form_with(model: [@restaurant,@restaurant_review], local: true) do |form| %>
  <% if restaurant_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(restaurant_review.errors.count, "error") %> prohibited this restaurant_review from being saved:</h2>

      <ul>
        <% restaurant_review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="card", style="width:900px;margin: 0 auto">
        <div class="card-body">
            
          <div class="field" >
            <%= form.label :評価, style:"font-size:20px"%>
            <br>
            <%= form.select :rating, options_for_select([["Select One", ""], "1", "2", "3", "4", "5"])%>
          </div>
          
          <div class="field form-floating">
          <%= form.text_area :review, class:"form-control", placeholder:"Leave a comment here", id:"floatingTextarea", style:"height:120px" %>
           <label for="floatingTextarea">Review</label>
        </div>
        
          <div class="actions">
            <%= form.submit :送信 , class:"btn btn-primary", style:"width:100px;margin-left:10px;height:40px;margin-top:30px;margin-bottom:10px" %>
          </div>
            <%= link_to '戻る', restaurant_path(@restaurant), class:"btn btn-secondary btn-sm", style:"width:100px;margin-left:10px;height:40px;font-size:1rem"%>

        </div>
    </div>
  
<% end %>
